
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

@section scripts {
    <script src="~/Scripts/handlebars.js"></script>
    <script src="~/Scripts/forgetPassword.js"></script>
    <script>

        $(function () {
            MyApp.Main();
        });


    </script>
}
<script>
        $(function () {
            $('#btnAddf').click(function () {
                var sEmail = $('#Login').val();
                if ($.trim(sEmail).length == 0) {
                    alert('All fields are mandatory');
                    // e.preventDefault();
                }
                if (validateEmail(sEmail)) {
                    var Users = {
                        "Login": $("#Login").val(),
                    };
                    $.ajax({
                        type: "POST",
                        url: '~/api/Values/forgetPassword',
                        data: JSON.stringify(Users),
                        contentType: "application/json;charset=utf-8",
                        processData: true,
                        success: function (data, status, xhr) {
                            alert("An Email is sent to ur email  " + '\n' + "Proceed further accordingly :)");
                        },
                        error: function (xhr) {
                            alert("An Email is sent to ur email  " + '\n' + "Proceed further accordingly :)");

                            alert(xhr.responseText);
                        }
                    });
                    return true;
                }
                else {
                    alert('Invalid Email Address ,try again :) ');
                    return false;
                }

            });
        });
</script>
}


<body>
    <fieldset>
        <div>
            <br />
            <br />
            Enter Email to update ur password: <input type="email" placeholder="me@example.com" value="tayyibahalauddin@gmail.com" id="Login" required /> <br />
        </div>
        <div>
            <input type="submit" id="btnAddf" value="Change Password" />
        </div>
    </fieldset>
                        <form action="/Home/Login" @*id="login-form" class="login-form row" name="login_form"*@ method="post">
                            <input type="text" id="txtLogin" name="name" placeholder="Name" />
                            <input type="password" id="txtPassword" name="password" placeholder="password" />
                            <span>
                                <input type="checkbox" name="checkbox_name" class="checkbox">
                                Keep me signed in
                            </span>
                            <button type="submit" value="Login" id="btnLogin" class="btn btn-default">Login</button>
                        </form>

                        @Html.ActionLink("Forgot Password", "forgotPassword")
                      
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Signup!</h2>
                        <form action="/Home/SaveUsers" id="Signup-form" class="Signup-form row" name="Signup" method="post">
                            <input type="text" name="name" placeholder="Name" />
                            <input type="email" name="email" placeholder="Email Address" />
                            <input type="text" name="Designation" placeholder="Designation" />
                            <input type="password" name="password" placeholder="Password" />
                            Image<h2><input type="file" name="Image" id="Image" class="login-form" /> <br /></h2>
                            <button type="submit" class="btn btn-default">Signup</button>
                        </form>
                    </div><!--/sign up form-->
                </div>


</body>