
@{
    ViewBag.Title = "forgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/handlebars.js"></script>
<script src="~/Scripts/forgetPassword.js"></script>
    <script>

        $(function () {
            MyApp.Main();
        });


    </script>
  
}
<body>
    <div>
        <br />
        <br />
        Enter Email to update ur password: <input type="email" placeholder="me@example.com" value="tayyibahalauddin@gmail.com" id="Login" required /> <br />
    </div>
    <div>
        <input type="submit" id="btnAddf" value="Change Password" />
    </div>
</body>
