
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/Layout2.cshtml";
}


<body>
    <section id="Signup_DAO_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="http://localhost:49974/Home/Index">Home</a></li>
                    <li class="active">Shopping Signup_DAO</li>
                </ol>
            </div>
            <div class="table-responsive Signup_DAO_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="Signup_DAO_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="Signup_DAO_product">
                                <a href=""><img src="images/Signup_DAO/one.png" alt=""></a>
                            </td>
                            <td class="Signup_DAO_description">
                                <h4><a href="">Colorblock Scuba</a></h4>
                                <p>Web ID: 1089772</p>
                            </td>
                            <td class="Signup_DAO_price">
                                <p>$59</p>
                            </td>
                            <td class="Signup_DAO_quantity">
                                <div class="Signup_DAO_quantity_button">
                                    <a class="Signup_DAO_quantity_up" href=""> + </a>
                                    <input class="Signup_DAO_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                    <a class="Signup_DAO_quantity_down" href=""> - </a>
                                </div>
                            </td>
                            <td class="Signup_DAO_total">
                                <p class="Signup_DAO_total_price">$59</p>
                            </td>
                            <td class="Signup_DAO_delete">
                                <a class="Signup_DAO_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="Signup_DAO_product">
                                <a href=""><img src="images/Signup_DAO/two.png" alt=""></a>
                            </td>
                            <td class="Signup_DAO_description">
                                <h4><a href="">Colorblock Scuba</a></h4>
                                <p>Web ID: 1089772</p>
                            </td>
                            <td class="Signup_DAO_price">
                                <p>$59</p>
                            </td>
                            <td class="Signup_DAO_quantity">
                                <div class="Signup_DAO_quantity_button">
                                    <a class="Signup_DAO_quantity_up" href=""> + </a>
                                    <input class="Signup_DAO_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                    <a class="Signup_DAO_quantity_down" href=""> - </a>
                                </div>
                            </td>
                            <td class="Signup_DAO_total">
                                <p class="Signup_DAO_total_price">$59</p>
                            </td>
                            <td class="Signup_DAO_delete">
                                <a class="Signup_DAO_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="Signup_DAO_product">
                                <a href=""><img src="images/Signup_DAO/three.png" alt=""></a>
                            </td>
                            <td class="Signup_DAO_description">
                                <h4><a href="">Colorblock Scuba</a></h4>
                                <p>Web ID: 1089772</p>
                            </td>
                            <td class="Signup_DAO_price">
                                <p>$59</p>
                            </td>
                            <td class="Signup_DAO_quantity">
                                <div class="Signup_DAO_quantity_button">
                                    <a class="Signup_DAO_quantity_up" href=""> + </a>
                                    <input class="Signup_DAO_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                    <a class="Signup_DAO_quantity_down" href=""> - </a>
                                </div>
                            </td>
                            <td class="Signup_DAO_total">
                                <p class="Signup_DAO_total_price">$59</p>
                            </td>
                            <td class="Signup_DAO_delete">
                                <a class="Signup_DAO_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#Signup_DAO_items-->
    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="chose_area">
                        <ul class="user_option" name="user_option">
                            <li>
                                <input type="checkbox">
                                <label>Use Coupon Code</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Use Gift Voucher</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Estimate Shipping & Taxes</label>
                            </li>
                        </ul>
                        <ul class="user_info" name="user_info">
                            <li class="single_field">
                                <label>Country:</label>
                                <select>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field" name="single_field_Region">
                                <label>Region / State:</label>
                                <select>
                                    <option>Select</option>
                                    <option>Dhaka</option>
                                    <option>London</option>
                                    <option>Dillih</option>
                                    <option>Lahore</option>
                                    <option>Alaska</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field zip-field">
                                <label>Zip Code:</label>
                                <input type="text" name="Zip_Code">
                            </li>
                        </ul>
                        <a class="btn btn-default update" href="">Get Quotes</a>
                        <a class="btn btn-default check_out" href="">Continue</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Signup_DAO Sub Total <span>$59</span></li>
                            <li>Eco Tax <span>$2</span></li>
                            <li>Shipping Cost <span>Free</span></li>
                            <li>Total <span>$61</span></li>
                        </ul>
                        <a class="btn btn-default update" href="">Update</a>
                        <a class="btn btn-default check_out" href="">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>