@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="~/Scripts/handlebars.js"></script>
    <script src="~/Scripts/myapp.js"></script>
    <script>

        $(function () {
            MyApp.Main();
        });


    </script>
    <script>
        $(function () {
            $("#addToCart").click(function () {
                var Products = {
                    "UserID": $("#UserID").val(),
                    "ProductID": $("#ProductID").val()
                    //PictureName = SessionManager.User.PictureName
                };
                var settings = {
                    type : "POST",
                    dataType: "json",
                    url: "/Product2/addToCart",
                    data: Products,//JSON.stringify(Products)
                    success: function (resp) {
                        if (resp.valid == true) {
                            alert("product iz added to ur cart :)");
                        }
                        else {
                            alert("Invalid Login/Password");
                        }
                    },
                    error: function (e) {
                        alert("error");
                    }
                };

                $.ajax(settings);

                return false;
            });
        });
    </script>
}
@if (EAD_Project.Security.SessionManager.User.IsAdmin)
{
    <div>

        <img src="" style="width:100px;height:100px;display:none" id="prodimg" /> <br />
        <input type="hidden" name="ProductID" id="txtProductID" value="0" />
        <input type="hidden" name="PictureName" id="txtPictureName" />
        Name<input type="text" name="Name" id="txtName" /> <br />
        Price: <input type="text" name="Price" id="txtPrice" /> <br />
        Image: <input type="file" name="Image" id="myfile" /> <br />
        <input type="submit" value="Save" id="btnSave" />
        <input type="button" id="btnClear" value="Clear" />
    </div>
}
<h2>Products</h2>
@*<table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="tblBody"></tbody>
    </table>*@

<div id="tblBody">
</div>
<div id="emailpopup" class="modalpopup">
    <span id="popupname"></span>
    <button id="btnSend">Email</button>
    <button id="btnClose">Close</button>
</div>

@*<script id="listtemplate" type="text/x-handlebars-template">
        {{#each data}}
        <tr pid="{{ProductID}}">
            <td>{{Name}}</td>
            <td>{{Price}}</td>
            <td><img src="/UploadedFiles/{{PictureName}}" style="width:100px;height:100px;" /></td>
            @if (WebPrac.Security.SessionManager.User.IsAdmin)
            {
                <td><a href="#" class="editprod">Edit</a></td>
                <td><a href="#" class="deleteprod">Delete</a></td>
                <td><a href="#" class="emailprod">Email</a></td>
            }
        </tr>
        {{/each}}
    </script>*@
<script id="listtemplate" type="text/x-handlebars-template">
    {{#each data}}
    <div class="item" pid="{{ProductID}}">
        <div style="float:left">
            <img src="/UploadedFiles/{{PictureName}}" style="width:100px;height:100px;" />
        </div>
        <div style="float:left">
            Product Id: {{ProductID}} <br />
            Name: {{Name}} <br />
            Price: {{Price}} <br />
            Created On {{CreatedOn}} <b>By</b> {{CreatedBy}}
        </div>
        <div style="clear:both">
            @if (EAD_Project.Security.SessionManager.User.IsAdmin)
            {
                <a href="/Product/Edit/{{ProductID}}">Edit</a>
                <a href="/Product/Delete/{{ProductID}}">Delete</a>
                <input type="submit" value="Edit" class="editbutton" pid="{{ProductID}}" />
            }
        </div>
        <div class="commentarea">
            <textarea class="txtComment" rows="1" cols="50"></textarea>
            <button id="addcomment" value="Add" class="addcomment">Add Comment</button>
        </div>
        <br />
        <div class="comments">
            {{#each Comments}}
            <div class="comment">
                <div class="picture">
                    <img src='/UploadedFiles/{{PictureName}}' />
                </div>
                <div>
                    <span class="name">{{UserName}}</span>
                    <span class="comment-text"> {{CommentText}}</span> <br />
                    <span class="comment-text commenton">{{CommentOn}}</span>
                </div>
            </div>
            <br />
            <div style="clear:both"></div>
            {{/each}}
        </div>
    </div>

    <form action="/Product2/addToCart" @*id="login-form" class="login-form row" name="login_form"*@ method="post">
        <input type="hidden" name="ProductID" id="{{ProductID}}" value="{{ProductID}}" />
        <input type="hidden" name="UserID" id="@EAD_Project.Security.SessionManager.User.UserID" value="@EAD_Project.Security.SessionManager.User.UserID" />
        <button type="submit" onclick="addToCart" id="addToCart" value="Add To Cart" class="btn btn-default">Add To Cart</button>
    </form>


    @*<form action="/Product2/addToCart" method="post">
            <input type="text" id="txtLogin" name="name" placeholder="Name" />
            <input type="password" id="txtPassword" name="password" placeholder="password" />

            <button type="submit" value="addToCart" id="addToCart" class="btn btn-default">Add To Cart</button>
        </form>
    *@

    {{/each}}
</script>
<script id="commenttemplate" type="text/x-handlebars-template">
    <div class="comment">
        <div class="picture">
            <img src='/UploadedFiles/{{PictureName}}' />
        </div>
        <div>
            <span class="name">{{UserName}}</span>
            <span class="comment-text"> {{CommentText}}</span> <br />
            <span class="comment-text commenton">{{CommentOn}}</span>
        </div>
    </div>
    <br />
    <div style="clear:both"></div>
</script>










